@{
    Layout = null; // This prevents the view from using any layout
}
@{
    ViewData["Title"] = "login Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym | Website</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/logo.png" />


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<section class="classes-section spad" style="min-height:100vh;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <div class="bs-text">
                <h2>Login now to get more deals</h2>
                <div class="bt-tips">Where health, beauty and fitness meet.</div>
             
            </div>
        </div>
                <div class="mt-3">
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="leave-comment  d-flex align-items-center justify-content-center">
                            <form asp-action="Login" method="post">
                                <input type="text" name="name" id="name" placeholder="Name" required>
                                @* <input type="tel" name="phone" id="phone" placeholder="Phone" required> *@
                                <input type="password" name="password" id="password" placeholder="password" required>

                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                {
                                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                                }


                                <a href="/Auth/Register">Register</a>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                        <div class="col-lg-12">
                            
                            <div class="contact-widget d-flex align-items-center justify-content-center">
                                <div class="cw-text">
                                    <i class="fa fa-map-marker"></i>
                                    <p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
                                </div>
                                <div class="cw-text">
                                    <i class="fa fa-mobile"></i>
                                    <ul>
                                        <li>125-711-811</li>
                                        <li>125-668-886</li>
                                    </ul>
                                </div>
                                <div class="cw-text email">
                                    <i class="fa fa-envelope"></i>
                                    <p>Support.gymcenter@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</section>