@{
    ViewData["Title"] = "Profile Page";
}


<section class="classes-section spad" style="min-height:100vh;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>My profile</h2>
                    <div class="bt-tips">Where health, beauty and fitness meet.</div>

                </div>
            </div>
            <div class="mt-3">
                <div class="row">


                    <div class="col-lg-12">
                        <div class="leave-comment  d-flex align-items-center justify-content-center">
                            <form >
                                <input type="text" name="name" id="name" placeholder="Name" required>
                                <input type="tel" name="phone" id="phone" placeholder="Phone" required>
                              @*   <input type="password" name="password" id="password" placeholder="password" required> *@


                               @*  <button type="submit">Submit</button> *@
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <div class="contact-widget d-flex align-items-center justify-content-center">
                            <div class="cw-text">
                                <i class="fa fa-map-marker"></i>
                                <p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
                            </div>
                            <div class="cw-text">
                                <i class="fa fa-mobile"></i>
                                <ul>
                                    <li>125-711-811</li>
                                    <li>125-668-886</li>
                                </ul>
                            </div>
                            <div class="cw-text email">
                                <i class="fa fa-envelope"></i>
                                <p>Support.gymcenter@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>